{% extends "proView.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='adminView.css') }}">
<body>
    <h4>Offering Page</h4>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" id="createOfferingButton" class="btn btn-secondary">Create an Offering</button>
        <button type="button" id="deleteOfferingButton" class="btn btn-secondary">Delete an Offering</button>
    </div>
    <script src="{{ url_for('static', filename='pro.js') }}"></script>
</body>
{% endblock %}
