{% extends "loginedview.html" %} 
{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'watchlistDetails.css') }}">

<h1>{{ username }}'s Watchlist Details</h1> <br/>
{% if allListDetails %}
    <p> Click on stock to see more information </p>

    <table>
    <thead>
    <tr>
        <th>Stock ID</th>
    </tr>
    </thead>
    <tbody>

    {% for item in allListDetails %}
<tr>
    <td> <a href="{{ url_for('showStockInformation', ID = item[1]) }}">{{item[1]}}</a></td>
</tr>
{% endfor %}
    {% else %}
    <span class="NoList"><p class="Label"> There are no stocks in your watchlist <br> Please view <a href="{{ url_for('showStocks') }}">Stocks Page</a> to add  Stocks to watchlist.</p></span>

    {% endif %}
     </tbody>
</table>

{% endblock %}