{% extends "loginedview.html" %} 
{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'watchlistDetails.css') }}">

<h1>{{ username }}'s Watchlist Details</h1> <br/>
    <p> Click on stock to see more information </p>
    <table>
    <thead>
    <tr>
        <th>Stock ID</th>
    </tr>
    </thead>
    <tbody>
    {% for item in allListDetails %}
<tr>
    <td> <a href="{{ url_for('showStockInformation', ID = item[1]) }}">{{item[1]}}</a></td>
</tr>
{% endfor %}
     </tbody>
</table>

{% endblock %}